/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
  homePage = 'https://github.com/MaxUlysse/CAW-containers'
  description = 'Build and pupsh containers for CAW'
}

params {
  help = ''
  version = ''
}
