/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
  homePage = 'https://github.com/MaxUlysse/CAW-containers'
  description = 'Build and pupsh containers for CAW'
}

params {
  build = ''
  containers = 'bcftools,fastqc,gatk,multiqc,mutect1,picard,mapreads,runallelecount,runmanta,strelka,samtools,snpeff'
  docker = ''
  help = ''
  push = ''
  repository = 'maxulysse'
  singularity = ''
  version = ''
}
