/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
  homePage = 'https://github.com/MaxUlysse/CAW-containers'
  description = 'Build and pupsh containers for CAW'
}

params {
  build = false
  containers = 'all'
  docker = false
  help = false
  publishSingularityDir = false
  push = false
  repository = 'maxulysse'
  singularity = false
  tag = false
  version = false
}
